<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foursevenlove.pm.Mapper.EmployeeMapper">

  <select id="getAll" resultType="com.foursevenlove.pm.entity.Employee">
      SELECT emp.*, na.name as nation, dep.name as department, jl.name as jobLevel, pos.name as position
      FROM employee as emp left join nation as na on emp.nationId = na.id
        left join department as dep on emp.departmentId = dep.id
        left join joblevel as jl on emp.jobLevelId = jl.id
        left join position as pos on emp.posId = pos.id
      <where>
        deleted = 0
        <if test="searchContent!=null and searchContent!=''">
            (and emp.id like concat ('%',#{searchContent}, '%')
            or emp.name like concat('%', #{searchContent}, '%')
            or emp.idCard like concat('%', #{searchContent}, '%'))
        </if>
        <if test="politicId!=null and politicId!=''">
          and emp.politicId = #{politicId}
        </if>
        <if test="posId!=null and posId!=''">
          and emp.posId = #{posId}
        </if>
        <if test="nationId!=null and nationId!=''">
          and emp.nationId = #{nationId}
        </if>
        <if test="jobLevelId!=null and jobLevelId!=''">
          and emp.jobLevelId = #{jobLevelId}
        </if>
        <if test="engageForm!=null and engageForm!=''">
          and emp.engageForm = #{engageForm}
        </if>
      </where>
  </select>
</mapper>
